.todos {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  width: 47.5%;
  padding: 15px;
  background-color: rgb(50, 195, 205);
}
.dragactive {
  background-color: rgb(0, 221, 236);
}
.dragcomplete {
  background-color: rgb(255, 38, 0);
}
.remove {
  background-color: rgb(235, 103, 80);
}
.todos__heading {
  font-size: 30px;
  /* text-align: center; */
  color: white;
}
